@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap");
:root {
  --light-color: #ddd1c3;
  --dark-color: #080808;
  --red-color: #f41101;
  --blue-color: #3e78b2;
}

@-webkit-keyframes hover {
  25% {
    -webkit-filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
            filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
  }
  50% {
    -webkit-filter: drop-shadow(-1px 0px 0px var(--blue-color)) drop-shadow(1px 0px 0px var(--red-color));
            filter: drop-shadow(-1px 0px 0px var(--blue-color)) drop-shadow(1px 0px 0px var(--red-color));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
            filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
  }
  100% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes hover {
  25% {
    -webkit-filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
            filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
  }
  50% {
    -webkit-filter: drop-shadow(-1px 0px 0px var(--blue-color)) drop-shadow(1px 0px 0px var(--red-color));
            filter: drop-shadow(-1px 0px 0px var(--blue-color)) drop-shadow(1px 0px 0px var(--red-color));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
            filter: drop-shadow(-3px 0px 0px var(--blue-color)) drop-shadow(3px 0px 0px var(--red-color));
  }
  100% {
    -webkit-filter: none;
            filter: none;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--dark-color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--dark-color)), to(#292929));
  background-image: linear-gradient(to right, var(--dark-color) 0%, #292929 100%);
  color: var(--light-color);
  font-family: "Open Sans", sans-serif;
  padding: 0.5em 2em;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;
  font-weight: bolder;
}
a:focus {
  outline: none;
}
a:hover, a:focus, a:active {
  -webkit-animation: hover 0.5s 1;
          animation: hover 0.5s 1;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8em;
}
@media (max-width: 500px) {
  .section {
    padding: 4em 0;
  }
}

.title {
  margin: 0;
  font-family: "Bree Serif", serif;
  line-height: 1.5em;
}

h2.title {
  font-size: 2rem;
}

.content {
  font-size: 1.15rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  max-width: 1500px;
  width: calc(100% - 6em);
}
@media (max-width: 900px) {
  .content {
    width: 100%;
  }
}

.list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 2em;
  padding-top: 1em;
  width: calc(100% - 4em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--dark-color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--dark-color)), to(#292929));
  background-image: linear-gradient(to right, var(--dark-color) 0%, #292929 100%);
  z-index: 1;
}
.header .logo {
  height: 3em;
}
.header .nav__item {
  margin-right: 0.5em;
}
.header .nav__item:last-child {
  margin-right: 0;
}
.header .nav__item a {
  position: relative;
  letter-spacing: 0.1em;
}
.header .nav__item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: var(--light-color);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.intro {
  min-height: 100vh;
}
.intro .intro__title {
  font-size: 3rem;
  line-height: 1em;
}
.intro .intro__content {
  font-size: 1.25rem;
  max-width: 600px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4em;
  max-width: 1500px;
  margin: 2em auto;
  position: relative;
}
.project .project__content {
  padding: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 800px;
  text-align: center;
}
.project .project__content .project__title {
  font-size: 1.75rem;
}
.project .project__content a {
  margin-right: 1em;
}
.project .project__content a:last-child {
  margin-right: 0;
}
.project .project__image {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 0 2em;
}
.project::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: var(--light-color);
  position: absolute;
  bottom: -4em;
  left: 15%;
}
.project:last-child::after {
  width: 0;
}

.techs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.techs__content .techs__left {
  padding-right: 2em;
}
.techs__content .techs__left .techs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.techs__content img {
  margin-left: 2em;
  width: 50%;
  max-width: 350px;
  display: none;
}
@media (min-width: 900px) {
  .techs__content img {
    display: inline-block;
  }
}

.about__title {
  margin-bottom: 1em;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__content p {
  padding-right: 2em;
  width: 100%;
}
@media (max-width: 900px) {
  .about__content p {
    padding-right: 0;
  }
}
.about__content img {
  width: 200px;
  height: 200px;
  border: 1px solid var(--dark-color);
  margin-right: 2em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
@media (min-width: 900px) {
  .about__content img {
    display: inline-block;
  }
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4em;
}
.footer .social-nav .social-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .social-nav .social-nav__list .social-nav__item {
  margin-right: 0.5em;
  font-size: 2rem;
}
.footer .social-nav .social-nav__list .social-nav__item:last-child {
  margin-right: 0;
}
@media (min-width: 800px) {
  .footer .social-nav {
    position: fixed;
    bottom: -1em;
    right: 2em;
  }
  .footer .social-nav .social-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer .social-nav .social-nav__list:after {
    content: "";
    height: 4em;
    width: 2px;
    background-color: var(--light-color);
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
  .footer .social-nav .social-nav__item {
    margin-right: 0;
    margin-bottom: 0.15em;
  }
}
/*# sourceMappingURL=style.css.map */